
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>Elasticsearch.Net & Nest</h2>
<div class="container">
<p>
    <ul>
        <li>
            Elasticsearch.net, Elasticsearch’e .net uygulamalarımızda Elasticsearch Api’sine istek yapıp ve yanıt almamızı almamızı sağlayan, düşük seviyeli, bağımlılıkları olmayan bir kütüphanedir.
        </li><br>
        <li>
            Düşük seviyeli olması, hemen hemen her türlü operasyonun http metodlarıyla restful olarak yapılabilmesinden kaynaklıdır.
            (Bakınız: <a target="_blank" href="https://github.com/elastic/elasticsearch-net/blob/master/src/Elasticsearch.Net/Connection/HttpConnection.cs">Elasticsearch.Net Connection Sınıfı </a>)
        </li><br>
        <li>
            Bağımlılıklarının olmaması da kütüphaneyi kurduğunuzda, içinde NewtonSoft gibi JSON operasyonlarıyla ilgili 3rd Party herhangi bir bağımlılığın gelmemesinden kaynaklıdır.
            (Bakınız: <a target="_blank" href="https://github.com/elastic/elasticsearch-net/blob/master/src/Elasticsearch.Net/Elasticsearch.Net.csproj">Elasticsearch.Net Source Code</a>) 
        </li>
    </ul>
</p>
</div>